<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profiles</title>
    <link rel="shortcut icon" href="../static/profile.png" type="image/png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/candidateSelectStyle.css">
</head>

<body>

    <header>
        <div class="header__box" style="text-align: center;">
            <h2> Technical Department </h2>
            <p> Software Development Engineer </p>
        </div>
    </header>
    <div class="body">
        <div class="student2">
            <h3>Mohit Makkar</h3>
            <div class="box1">
                <div class="left">
                    <p id="tochange">Not evaluated for this stage.</p>
                    <a id="white" href={{ url_for('info') }}>Evaluate Now</a>
                    <div class="comment" style="margin:5px;"></div>
                </div>
                
                <div class="right__sidebar">
                   
                    <div class="icon">
                        <button class='accepted' value="accept">
                        <span class="material-icons">
                            mail_outline
                        </span>
                    </button>
                    </div>
                    <div class="icon">
                        <button class='rejected'><span class="material-icons">
                            thumb_down_off_alt
                        </span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="student2">
            <h3>Jitendra Khatri</h3>
            <div class="box1">

                <div class="left">
                    <p id="white">Not evaluated for this stage.</p>
                    <a id="white" href="/">Evaluate Now</a>
                    <div class="comment" style="margin:5px;"></div>
                </div>
                
                <div class="right__sidebar">
                   
                    <div class="icon">
                        <button class='accepted' value="accept">
                        <span class="material-icons">
                            mail_outline
                        </span>
                    </button>
                    </div>
                    <div class="icon">
                        <button class='rejected'><span class="material-icons">
                            thumb_down_off_alt
                        </span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="student2">
            <h3>Gaurav Rajput</h3>
            <div class="box1">

                <div class="left">
                    <p id="white">Not evaluated for this stage.</p>
                    <a id="white" href="/">Evaluate Now</a>
                    <div class="comment" style="margin:5px;"></div>
                </div>
                
                <div class="right__sidebar">
                   
                    <div class="icon">
                        <button class='accepted' value="accept">
                        <span class="material-icons">
                            mail_outline
                        </span>
                    </button>
                    </div>
                    <div class="icon">
                        <button class='rejected'><span class="material-icons">
                            thumb_down_off_alt
                        </span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="student2">
            <h3>Akash Kumar Rana</h3>
            <div class="box1">

                <div class="left">
                    <p id="white">Not evaluated for this stage.</p>
                    <a id="white" href="/">Evaluate Now</a>
                    <div class="comment" style="margin:5px;"></div>
                </div>
                
                <div class="right__sidebar">
                   
                    <div class="icon">
                        <button class='accepted' value="accept">
                        <span class="material-icons">
                            mail_outline
                        </span>
                    </button>
                    </div>
                    <div class="icon">
                        <button class='rejected'><span class="material-icons">
                            thumb_down_off_alt
                        </span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    
    <script src="../static/candidateSelectscript.js"></script>
</body>

</html>